html,
body {
  /* background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9); */
  background: rgb(33, 131, 154);
  background: linear-gradient(
    90deg,
    rgba(33, 131, 154, 1) 0%,
    rgba(9, 55, 121, 0.9082983535210959) 1%,
    rgba(0, 212, 255, 1) 100%
  );
  min-width: 400px;
}

#ville {
  text-transform: capitalize;
}

#temperature {
  font-size: 4em;
}

#changer {
  background: rgba(178, 223, 251, 0.3);
  cursor: pointer;
}

img {
  position: absolute;
}
